<!DOCTYPE html>
<html>
<body>
<!-- Sidebar Holder -->

        @* <nav id="sidebar"> *@
        @*     <div class="sidebar-header"> *@
        @*         <h3>Header as you want </h3> *@
        @*     </div> *@
        @*     <ul class="list-unstyled components"> *@
        @*         <p>Dummy Heading</p> *@
        @*         <li class="active"> *@
        @*             <a href="#menu">Animación</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a href="#menu">Ilustración</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a href="#">Interacción</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a href="#">Blog</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a href="#">Acerca</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a href="#">contacto</a> *@
        @*         </li> *@
        @*     </ul> *@
        @* </nav> *@
    
    @* <!-- Page Content Holder --> *@
    @* <div id="content"> *@
    @*     <nav class="navbar navbar-default"> *@
    @*         <div class="container-fluid"> *@
    @*             <ul class="nav navbar-nav navbar-left"> *@
    @*                 <li> *@
    @*                     <a href="#">Page</a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*             <ul class="nav navbar-nav navbar-left"> *@
    @*                 <li> *@
    @*                     <a href="#">Page</a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*             <ul class="nav navbar-nav navbar-left"> *@
    @*                 <li> *@
    @*                     <a href="#">Page</a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*             <ul class="nav navbar-nav navbar-left"> *@
    @*                 <li> *@
    @*                     <a href="#">Page</a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*         </div> *@
    @*     </nav> *@
    @* </div> *@

</body>
</html>