@model AdiPlus.ViewModels.AppintmentResultViewModel

<form enctype="multipart/form-data" method="post" asp-action="AppointmentResult" asp-controller="Appointment" asp-anti-forgery="true">
    <input type="hidden" asp-for="AppointmentId" value="@Model.Appointment.Id"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br class="breadcrumb">
    <div class="form-group">
        <label>Рекомендация</label>
        <input type="text" asp-for="Recommendation" class="form-control" placeholder="Введите рекомендацию">
        <span asp-validation-for="Recommendation" class="text-danger"></span>
    </div>
    @{ 
        int i = 0;
    }
    @foreach (var item in Model.Appointment.Service)
    {
        <label class="h3"> @item.ServiceName</label>
        @foreach (var material in item.Materials)
        {
            <div class="form-group">
                <label>@material.MaterialName</label>
                <input type="hidden" name="medicalCardViewModels[@i].Id" value="@material.Id"/>
                <input type="number" name="medicalCardViewModels[@i].Quantity" class="form-control" placeholder="Количество затраченное">
                <span asp-validation-for="medicalCardViewModels[@i].Quantity" class="text-danger"></span>
            </div>
            i++;
        }
    }
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>