@model AdiPlus.ViewModels.Admin.SpecializationViewModel

<form class="form-group" method="post" asp-controller="Admin" asp-action="AddSpecialization">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Название специальности</label>
        <input class="form-control shadow-sm bg-white rounded" asp-for="SpecializationName" placeholder="Введите название специальности">
        <span asp-validation-for="SpecializationName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block shadow-sm rounded">Добавить</button>
    </div>
</form>